.App{
  text-align: center;
  font-family: sans-serif;
}

.search{
  width:500px;
  padding: 5px;
}

.search-results{
  width:500px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  height: 500px;
  overflow: scroll;
}

 .results{
  display: block;
  padding: 5px;
}

.results:hover{
  background-color: beige;
  cursor: pointer;
} 