.product-card{
width: 210px;
border: 1px solid black;
padding: 5px;
margin: 20px;
}

.product-img{
width: 200px;
height: 200px;
}

.App{
  font-family: sans-serif;
  text-align: center;
}

.product-container{
  display: flex;
  flex-wrap: wrap;
}